$shadow: 3px 3px rgba(0, 0, 0, 0.014), 0 6px 5px rgba(0, 0, 0, 0.018),
  0 1px 1px rgba(0, 0, 0, 0.06), 0 0px 100px rgba(0, 0, 0, 0.12),
  0 25px 20px rgba(0, 0, 0, 0.016), 0 50px 40px rgba(0, 0, 0, 0.012);
// $shadow: 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
//   0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
//   0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 50px 40px rgba(0, 0, 0, 0.12);

#Projects {
  padding-top: 10vh;
  height: 100vh;

  div.Projects__container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    height: 100%;
    width: 100%;

    div.container__project {
      padding: 1rem;
      height: 80%;
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-rows: repeat(7, 1fr);

      /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -webkit-box-shadow: $shadow;
      /* Firefox 3.5 - 3.6 */
      -moz-box-shadow: $shadow;
      /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      box-shadow: $shadow;
      h2 {
        text-align: center;
        grid-row: 2;
      }
      p {
        clear: left;
        a {
          color: rgb(2, 2, 88);
          text-decoration: underline;
        }
      }
      p.sourceCode {
        grid-row: 4;
      }
      p.site {
        grid-row: 6;
      }
    }
  }
}
