div.circle_container {
  height: 6vh;
  width: 100%;
  position: fixed;
  bottom: 5px;
  left: 0;
  display: none;
  user-select: none;
  text-align: center;
}

div.circle_container > a {
  text-decoration: none;
  color: black;
}

div.circle_container a div {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
div.circle_container > a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  .body {
    display: none;
  }
  div.circle_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
