@import '../../assets/scss/variables';

#Contact {
  min-height: calc(100vh - #{$navbarHeight});
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  form {
    padding: 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    button.btn.btn-primary {
      margin-top: 2rem;
    }
  }
  div.links {
    min-width: 320px;
    height: 5rem;
    width: 75%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links a {
    color: black;
  }
}
@media (max-width: 575.98px) {
  #Contact {
    width: 90% !important;
    margin: 0 auto;
  }
}
