.svg-container {
  margin: 0 auto;
  margin-top: -5rem;
  height: 512px;
  width: 512px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.sga-homepage-hero-collage {
  width: 100%;
}

.imran,
.charcoal {
  animation: fadeinAnimation 1s;
  transition: all 1s ease-in;
}

path,
polygon {
  animation: fadeinAnimation 1.6s;
}

@keyframes fadeinAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
