.map-container {
  height: 400px;
  width: 400px;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -webkit-box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  /* Firefox 3.5 - 3.6 */
  -moz-box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  position: relative;
}

#coordinate {
  margin: 0;
  padding: 0;
  text-align: right;
}
.btn-container {
  width: 100%;
  display: flex;
  /* align-items: flex-start; */
  flex-direction: row-reverse;
}
#recenter-btn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  margin-top: 1rem;
  color: white;
  background: #041d44;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  bottom: 3rem;
  right: 0.6rem;
}

#recenter-btn:active {
  transform: scale(0.95);
}
